/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #723521 !important;
  --toolbarbutton-icon-fill: #ffb59e !important;
  --toolbar-field-color: #f1dfda !important;
  --tab-selected-textcolor: #ffb59e !important;
  --toolbar-color: #f1dfda !important;
  --arrowpanel-color: #f1dfda !important;
  --arrowpanel-background: #271d1b !important;
  --sidebar-text-color: #f1dfda !important;
  --zen-main-browser-background: #1a110f !important;
  --zen-main-browser-background-toolbar: #1a110f !important;
}

#zen-browser-background {
  --zen-main-browser-background: #1a110f !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #1a110f !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #271d1b !important;
}

#zen-workspaces-button {
  background-color: #271d1b !important;
}

#TabsToolbar {
  background-color: #1a110f !important;
}

.urlbar-background {
  background-color: #271d1b !important;
}

.urlbar-input::selection {
  color: #55200d !important;
  background-color: #ffb59e !important;
}

.urlbarView-url {
  color: #d8c2bc !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb59e
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffb59e !important;
  --identity-icon-color: #ffb59e !important;
}

.identity-color-turquoise {
  --identity-tab-color: #d7c68d !important;
  --identity-icon-color: #d7c68d !important;
}

.identity-color-green {
  --identity-tab-color: #d7c68d !important;
  --identity-icon-color: #d7c68d !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffdbd0 !important;
  --identity-icon-color: #ffdbd0 !important;
}

.identity-color-orange {
  --identity-tab-color: #f4e2a7 !important;
  --identity-icon-color: #f4e2a7 !important;
}

.identity-color-red {
  --identity-tab-color: #ffb4ab !important;
  --identity-icon-color: #ffb4ab !important;
}

.identity-color-pink {
  --identity-tab-color: #93000a !important;
  --identity-icon-color: #93000a !important;
}

.identity-color-purple {
  --identity-tab-color: #e7bdb1 !important;
  --identity-icon-color: #e7bdb1 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a110f !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffb59e !important;
  color: #ffb59e !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffb59e !important;
  color: #ffb59e !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffb59e !important;
}
